<!DOCTYPE html>
<html lang="en">
<body class="nav-md">
    @await Component.InvokeAsync("_CustomerLayoutHeaderPartial")
    <div class="container body">
        <div class="main_container">
            @await Component.InvokeAsync("_CustomerLayoutSidebarPartial")
            <!-- top navigation -->
            @await Component.InvokeAsync("_CustomerLayoutNalbarPartial")
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <h2>@RenderBody()</h2>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            @await Component.InvokeAsync("_CustomerLayoutFooterPartial")
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    @await Component.InvokeAsync("_CustomerLayoutScriptPartial")
</body>
</html>
